@charset "UTF-8";
/*! style.css */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small article,
aside,
footer,
header,
nav,
address,
section,
main,
time,
ol,
ul,
li,
hr,
strong,
figure,
tr,
th,
td,
dl,
dt,
dd,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  font-style: normal; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

ul,
ol,
li,
dl {
  list-style: none; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-family: "Noto Sans KR", AppleGothic, sans-serif, Helvetica;
  color: inherit; }

a:hover,
a:active {
  outline: 0; }

a,
button {
  -webkit-tap-highlight-color: rgba(238, 186, 186, 0.2); }

button:disabled,
button[disabled] {
  -webkit-tap-highlight-color: transparent;
  color: inherit; }

hr {
  display: none; }

button {
  display: block;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", AppleGothic, sans-serif, Helvetica;
  border: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background: none;
  cursor: pointer; }
  button:focus {
    outline: 0; }

i {
  font-style: normal; }

html {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  font-weight: 500; }

body {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  font-family: "Noto Sans KR", AppleGothic, sans-serif, Helvetica;
  text-align: left;
  line-height: 1.5;
  color: #1A1311;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; }

.wrap {
  min-width: 360px; }

.title__sm {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #F35750;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-weight: 900; }
  @media screen and (min-width: 1060px) {
    .title__sm {
      font-size: 15px; } }

.title__lg {
  font-size: 24px;
  line-height: 1.58;
  font-weight: 700;
  letter-spacing: -0.48px; }
  @media screen and (min-width: 1060px) {
    .title__lg {
      font-size: 32px; } }

.hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 640px;
  background-color: #ED6B67; }
  @media screen and (min-width: 1060px) {
    .hero {
      height: 800px; } }
  .hero .illust--hero {
    width: 229px;
    height: 423px;
    display: block; }
    @media screen and (min-width: 1060px) {
      .hero .illust--hero {
        width: 312px;
        height: 576px; } }

.section--research {
  position: relative;
  padding: 40px 30px 0;
  width: 100%;
  max-width: 580px;
  margin: 0 auto; }
  @media screen and (min-width: 1060px) {
    .section--research {
      padding: 130px 0px 0;
      max-width: 920px; } }
  .section--research .illust--research {
    position: absolute;
    top: 394px;
    right: 28px;
    width: 145px;
    height: 109px;
    background-image: url(../images/pic-research.png);
    background-repeat: no-repeat;
    background-size: 100%; }
    @media screen and (min-width: 1060px) {
      .section--research .illust--research {
        width: 238px;
        height: 178px;
        top: 284px;
        right: 0;
        left: 20px; } }

.research {
  margin-top: 40px; }
  @media screen and (min-width: 1060px) {
    .research {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 100%;
      padding-left: 310px; } }
  .research__item:first-child {
    margin-bottom: 135px; }
    @media screen and (min-width: 1060px) {
      .research__item:first-child {
        margin-right: 50px;
        margin-bottom: 0; } }
    .research__item:first-child .research__list:first-child {
      width: 278px; }
  .research__title {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.46;
    letter-spacing: -0.5px; }
    @media screen and (min-width: 1060px) {
      .research__title {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: -1.2px; } }
  .research__result {
    margin-top: 40px;
    counter-reset: resultNumber; }
  .research__list {
    position: relative;
    width: 100%; }
    .research__list:before {
      position: absolute;
      top: -9px;
      left: 0;
      display: block;
      color: #bfbfbf;
      font-weight: 300;
      font-size: 22px;
      counter-increment: resultNumber;
      content: counter(resultNumber); }
    .research__list:first-child {
      width: 294px; }
    .research__list:nth-child(2) {
      width: 220px; }
    .research__list:nth-child(3) {
      width: 164px; }
  .research__list-text {
    padding-left: 30px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.6px; }
  .research__list-number {
    display: block;
    font-size: 10px;
    margin-top: 1px;
    height: 10px;
    font-weight: 700;
    color: #F35750;
    text-align: right;
    letter-spacing: -0.3px; }
    @media screen and (min-width: 1060px) {
      .research__list-number {
        height: 11px;
        margin-top: 2px; } }
    .research__list-number:before {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #FFACA8;
      content: ''; }

.info {
  margin-top: 80px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: -0.28px;
  color: #8d8d8d; }
  @media screen and (min-width: 1060px) {
    .info {
      margin-top: 34px;
      padding-left: 636px; } }
  .info .spacer {
    margin-left: 10px; }
  .info__text {
    display: inline-block;
    text-align: left; }

.section--about {
  position: relative;
  padding: 0 30px 0;
  margin-bottom: 95px;
  width: 100%;
  max-width: 580px;
  margin: 80px auto 0; }
  @media screen and (min-width: 1060px) {
    .section--about {
      padding: 0px 0;
      max-width: 920px;
      margin-top: 114px; } }
  .section--about .illust--about {
    z-index: -1;
    position: absolute;
    top: 190px;
    right: 28px;
    width: 171px;
    height: 205.3px;
    background-image: url(../images/pic-about-mo.png);
    background-repeat: no-repeat;
    background-size: 100%; }
    @media screen and (min-width: 1060px) {
      .section--about .illust--about {
        width: 320px;
        height: 714px;
        top: -5px;
        right: 30px;
        background-image: url(../images/pic-about.png);
        background-repeat: no-repeat; } }
  .section--about .title__lg span {
    position: relative;
    display: inline; }
    .section--about .title__lg span:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      max-width: 0%;
      transition: max-width 1s;
      height: 1px;
      background-color: #FFACA8; }
  .section--about .contents {
    margin-top: 168px; }
    @media screen and (min-width: 1060px) {
      .section--about .contents {
        margin-top: 80px; } }

@media screen and (min-width: 1060px) {
  .about__inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; } }

.about__inner-top {
  margin-bottom: 30px; }
  @media screen and (min-width: 1060px) {
    .about__inner-top {
      max-width: 280px;
      margin-right: 78px;
      margin-bottom: 0;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      -ms-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
      .about__inner-top .about__text:last-child {
        margin-bottom: 0px; } }

.about__inner-bottom .about__text {
  line-height: 1.5;
  letter-spacing: -0.85px; }
  @media screen and (min-width: 1060px) {
    .about__inner-bottom .about__text {
      font-size: 19px;
      letter-spacing: -1px;
      color: #1a1311; } }

.about__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.72px;
  color: #656565;
  margin-bottom: 30px;
  word-break: keep-all; }
  @media screen and (min-width: 1060px) {
    .about__text {
      font-size: 19px;
      letter-spacing: -0.7px; } }

.about .accent {
  color: #f35a54;
  font-weight: 700; }

.slogan {
  overflow: hidden;
  position: relative;
  margin-top: 95px;
  padding: 60px 0;
  background-color: rgba(237, 107, 103, 0.94);
  text-align: center;
  color: #fff; }
  @media screen and (min-width: 1060px) {
    .slogan {
      margin-top: 150px;
      padding: 78px 0; } }
  .slogan__text {
    display: block;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -0.4px; }
    @media screen and (min-width: 1060px) {
      .slogan__text {
        font-size: 31px;
        margin-bottom: 6px; } }
  .slogan__small {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.28px; }
    @media screen and (min-width: 1060px) {
      .slogan__small {
        font-size: 17px;
        margin-top: 14px;
        letter-spacing: -0.36px; } }

.char-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 520px;
  padding: 0 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  @media screen and (min-width: 1060px) {
    .char-container {
      max-width: 1080px;
      padding: 0; } }

.char {
  background-size: 100%;
  position: relative;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  @media screen and (min-width: 1060px) {
    .char {
      background-size: 95%; } }
  .char--dad {
    top: 82px;
    width: 61px;
    height: 191px;
    background-image: url(../images/char-dad.png);
    background-repeat: no-repeat; }
    @media screen and (min-width: 1060px) {
      .char--dad {
        top: 62px;
        width: 102px;
        height: 323px;
        margin-right: 30px; } }
  .char--boy {
    top: 76px;
    width: 68px;
    height: 188px;
    background-image: url(../images/char-boy.png);
    background-repeat: no-repeat; }
    @media screen and (min-width: 1060px) {
      .char--boy {
        top: 58px;
        width: 117px;
        height: 318px;
        margin-right: 440px; } }
  .char--mom {
    top: 76px;
    width: 64px;
    height: 201px;
    background-image: url(../images/char-mom.png);
    background-repeat: no-repeat; }
    @media screen and (min-width: 1060px) {
      .char--mom {
        top: 54px;
        width: 107px;
        height: 340px; } }
  .char--girl {
    top: 64px;
    width: 90px;
    height: 206px;
    background-image: url(../images/char-girl.png);
    background-repeat: no-repeat; }
    @media screen and (min-width: 1060px) {
      .char--girl {
        top: 56px;
        width: 137px;
        height: 350px; } }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.br-pc {
  display: none; }
  @media screen and (min-width: 1060px) {
    .br-pc {
      display: block; } }

.br-mo {
  display: block; }
  @media screen and (min-width: 1060px) {
    .br-mo {
      display: none; } }

.ani {
  opacity: 0; }

.fadeIn {
  opacity: 0;
  transition: 0s;
  transform: translateY(30px);
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  .fadeIn.active {
    transition: transform 0.5s, opacity 0.8s;
    transform: translateY(0px);
    opacity: 1; }

.section--about .active .title__lg span:after {
  max-width: 100%; }

.section--about .active .title__lg span:first-child:after {
  transition-delay: 0.3s; }

.section--about .active .title__lg span:nth-child(3):after {
  transition-delay: 0.55s; }

.section--about .active .title__lg span:nth-child(5):after {
  transition-delay: 0.75s; }

.section--about .active .title__lg span:nth-child(7):after {
  transition-delay: 0.95s; }

.illust--research {
  animation: ani 3s infinite; }

@keyframes ani {
  0% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(3deg); } }

.illust--about {
  transform-origin: bottom;
  animation: ani2 8s infinite; }

@keyframes ani2 {
  0% {
    transform: rotate(2deg) scale(1); }
  30% {
    transform: rotate(-2deg) scale(1.03); }
  90% {
    transform: rotate(2deg) scale(1); }
  100% {
    transform: rotate(2deg) scale(1); } }

.char {
  animation: ani3 2s infinite; }

.char--boy {
  animation-delay: 0.3s; }

.char--mom {
  animation-delay: 0.5s; }

.char--girl {
  animation-delay: 0.7s; }

@keyframes ani3 {
  10% {
    transform: translateY(-15px); }
  40% {
    transform: translateY(0px); } }

/*! 

  *
  style.css 
  Made by Nana with 💖
  * 

*/
