// ---
// layout
// ---


// 🤘공통요소
.title {
  &__sm {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: $c-orange;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    font-weight: $fw-bl;

    @include res--laptop {
      font-size: 15px;
    }

  }

  &__lg {
    font-size: 24px;
    line-height: 1.58;
    font-weight: $fw-b;
    letter-spacing: -0.48px;

    @include res--laptop {
      font-size: 32px;
    }
  }
}

// ✊히어로 섹션
.hero {
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 640px;
  background-color: #ED6B67;

  @include res--laptop {
    height: 800px;
  }

  .pic {
    position: relative;
    @include select-none;
  }

  .illust--hero {
    width: 229px;
    height: 423px;
    display: block;

    @include res--laptop {
      width: 312px;
      height: 576px;
    }
  }

  .deco-mom-eyes {
    position: absolute;
    top: 81px;
    left: 48px;
    width: 19px;
    height: 11px;
    @include bgi("deco-mom-eyes");
    background-size: 100%;

    @include res--laptop {
      top: 110px;
      left: 65px;
      width: 25px;
      height: 20px;
    }
  }

  .deco-girl-eyes {
    position: absolute;
    top: 51px;
    left: 142px;
    width: 14px;
    height: 11px;
    @include bgi("deco-girl-eyes");
    background-size: 100%;

    @include res--laptop {
      top: 69px;
      left: 194px;
      width: 18.5px;
      height: 15px;
    }
  }

}

// ✊리서치 섹션
.section--research {
  position: relative;
  padding: 40px 30px 0;
  width: 100%;
  max-width: $max-width-m;
  margin: 0 auto;

  @include res--laptop {
    padding: 130px 0px 0;
    max-width: $max-width;
  }

  .illust--research {
    position: absolute;
    top: 394px;
    right: 28px;
    width: 145px;
    height: 109px;
    @include bgi("pic-research");
    background-size: 100%;

    @include res--laptop {
      width: 238px;
      height: 178px;
      top: 284px;
      right: 0;
      left: 20px;
    }
  }

}

.research {
  margin-top: 40px;


  @include res--laptop {
    @include flexbox();
    width: 100%;
    padding-left: 310px;
  }

  &__item {
    &:first-child {
      margin-bottom: 135px;

      @include res--laptop {
        margin-right: 50px;
        margin-bottom: 0;
      }

      .research__list:first-child {
        width: 278px;
      }
    }
  }

  &__title {
    display: block;
    font-size: 24px;
    font-weight: $fw-m;
    line-height: 1.46;
    letter-spacing: -0.5px;

    @include res--laptop {
      font-size: 24px;
      font-weight: $fw-t;
      letter-spacing: -1.2px;
    }
  }

  &__result {
    margin-top: 40px;
    counter-reset: resultNumber;
  }

  &__list {
    position: relative;
    width: 100%;

    &:before {
      position: absolute;
      top: -9px;
      left: 0;
      display: block;
      color: #bfbfbf;
      font-weight: $fw-t;
      font-size: 22px;
      counter-increment: resultNumber;
      content: counter(resultNumber);
    }

    &:first-child {
      width: 294px;
    }

    &:nth-child(2) {
      width: 220px;
    }

    &:nth-child(3) {
      width: 164px;
    }
  }


  &__list-text {
    padding-left: 30px;
    font-size: 14px;
    font-weight: $fw-b;
    letter-spacing: -0.6px;

    @include res--laptop {}
  }

  &__list-number {
    display: block;
    font-size: 10px;
    margin-top: 1px;
    height: 10px;
    font-weight: $fw-b;
    color: $c-orange;
    text-align: right;
    letter-spacing: -0.3px;

    @include res--laptop {
      height: 11px;
      margin-top: 2px;
    }

    &:before {
      display: block;
      width: 100%;
      height: 1px;
      background-color: #FFACA8;
      content: '';
    }

  }
}

.info {
  margin-top: 80px;
  font-size: 14px;
  font-weight: $fw-m;
  line-height: 1.43;
  letter-spacing: -0.28px;
  color: #8d8d8d;

  @include res--laptop {
    // text-align: right;
    // padding-right: 100px;
    margin-top: 34px;
    padding-left: 636px;
  }


  .spacer {
    margin-left: 10px;
  }

  &__text {
    display: inline-block;
    text-align: left;
  }
}


// ✊리서치 섹션
.section--about {
  position: relative;
  padding: 0 30px 0;
  margin-bottom: 95px;
  width: 100%;
  max-width: $max-width-m;
  margin: 80px auto 0;

  @include res--laptop {
    padding: 0px 0;
    max-width: $max-width;
    margin-top: 114px;
  }


  .illust--about {
    z-index: -1;
    position: absolute;
    top: 190px;
    right: 28px;
    width: 171px;
    height: 205.3px;
    @include bgi("pic-about-mo");
    background-size: 100%;

    @include res--laptop {
      width: 320px;
      height: 714px;
      top: -5px;
      right: 30px;
      @include bgi("pic-about");

    }

  }

  .title__lg {

    span {
      position: relative;
      display: inline;

      &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        max-width: 0%;
        transition: max-width 1s;
        height: 1px;
        background-color: #FFACA8;
      }
    }
  }

  .contents {
    margin-top: 168px;

    @include res--laptop {
      margin-top: 80px;
    }

  }

}

.about {

  &__inner {

    @include res--laptop {
      @include flexbox();
      @include justify-content(space-between);
    }
  }

  &__inner-top {
    margin-bottom: 30px;

    @include res--laptop {
      max-width: 280px;
      margin-right: 78px;
      margin-bottom: 0;
      @include flex-shrink(0);

      .about__text:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &__inner-bottom {


    .about__text {
      line-height: 1.5;
      letter-spacing: -0.85px;

      @include res--laptop {
        font-size: 19px;
        letter-spacing: -1px;
        color: #1a1311;
      }
    }
  }

  &__text {
    font-size: 20px;
    font-weight: $fw-m;
    line-height: 1.5;
    letter-spacing: -0.72px;
    color: #656565;
    margin-bottom: 30px;
    word-break: keep-all;

    @include res--laptop {
      font-size: 19px;
      letter-spacing: -0.7px;
    }
  }

  .accent {
    color: #f35a54;
    font-weight: $fw-b;
  }

}



.slogan {
  overflow: hidden;
  position: relative;
  margin-top: 95px;
  padding: 60px 0;
  background-color: rgba(237, 107, 103, 0.94);
  text-align: center;
  color: #fff;

  @include res--laptop {
    margin-top: 150px;
    padding: 78px 0;
  }

  &__text {
    display: block;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: $fw-bl;
    letter-spacing: -0.4px;

    @include res--laptop {
      font-size: 31px;
      margin-bottom: 6px;
    }
  }

  &__small {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    font-weight: $fw-b;
    letter-spacing: -0.28px;

    @include res--laptop {
      font-size: 17px;
      margin-top: 14px;
      letter-spacing: -0.36px;
    }
  }
}

.char-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 520px;
  padding: 0 20px;
  @include flexbox();
  @include justify-content(space-between);


  @include res--laptop {
    max-width: 1080px;
    padding: 0;
  }
}

.char {
  background-size: 100%;
  position: relative;
  @include flex-shrink(0);

  @include res--laptop {

    background-size: 95%;
  }

  &--dad {
    top: 82px;
    width: 61px;
    height: 191px;
    @include bgi("char-dad");

    @include res--laptop {
      top: 62px;
      width: 102px;
      height: 323px;
      margin-right: 30px;
    }
  }

  &--boy {
    top: 76px;
    width: 68px;
    height: 188px;
    @include bgi("char-boy");

    @include res--laptop {
      top: 58px;
      width: 117px;
      height: 318px;
      margin-right: 440px;
    }
  }

  &--mom {
    top: 76px;
    width: 64px;
    height: 201px;
    @include bgi("char-mom");

    @include res--laptop {
      top: 54px;
      width: 107px;
      height: 340px;
    }
  }

  &--girl {
    top: 64px;
    width: 90px;
    height: 206px;
    @include bgi("char-girl");

    @include res--laptop {
      top: 56px;
      width: 137px;
      height: 350px;
    }
  }
}


.blind {
  // 👆 SEO용 텍스트 숨기기
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.br-pc {
  display: none;

  @include res--laptop {
    display: block;
  }
}

.br-mo {
  display: block;

  @include res--laptop {
    display: none;
  }
}



// // 페이드인 아이템 관리
// .fadeIn {
//   opacity: 0;
//   transition: transform 0.5s, opacity 0.8s;
//   // animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
//   transform: translateY(30px);
//   animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

//   &.-ani-up {}

//   &.active {
//     transform: translateY(0px);
//     opacity: 1;
//   }
// }

// .section--research {

//   .research__item {
//     transition-delay: 0s;
//   }

//   .info {
//     transition-delay: 0s;
//   }
// }

// @include res--laptop {

//   .section--research .research__item {

//     //부모세대가 자녀에게~
//     &:first-child {
//       transition-delay: 0.2s;
//     }

//     //밀레니얼 세대가~
//     &:nth-child(2) {
//       transition-delay: 0.45s;
//     }
//   }

//   .info {
//     transition-delay: 0.8s;
//   }
// }

// .section--about {

//   .research__item {

//     //부모세대가 자녀에게~
//     &:first-child {
//       transition-delay: 0.2s;
//     }

//     //밀레니얼 세대가~
//     &:nth-child(2) {
//       transition-delay: 0.45s;
//     }
//   }

//   .info {
//     transition-delay: 0.8s;
//   }

//   @include res--laptop {}
// }

.ani {
  opacity: 0;
}

.fadeIn {
  opacity: 0;
  transition: 0s;
  transform: translateY(30px);
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);


  &.active {
    transition: transform 0.5s, opacity 0.8s;
    transform: translateY(0px);
    opacity: 1;
  }
}


.section--about .active .title__lg {

  span:after {
    max-width: 100%;
  }

  span {
    &:first-child:after {
      transition-delay: 0.3s;
    }

    &:nth-child(3):after {
      transition-delay: 0.55s;
    }

    &:nth-child(5):after {
      transition-delay: 0.75s;
    }

    &:nth-child(7):after {
      transition-delay: 0.95s;
    }

  }
}

.illust--research {
  animation: ani 3s infinite;
}


@keyframes ani {
  0% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(3deg);
  }

}

.illust--about {
  transform-origin: bottom;
  animation: ani2 8s infinite;
}


@keyframes ani2 {
  0% {
    transform: rotate(2deg) scale(1);
  }

  30% {
    transform: rotate(-2deg) scale(1.03);
  }

  90% {
    transform: rotate(2deg) scale(1);
  }

  100% {
    transform: rotate(2deg) scale(1);
  }

}


.char {
  animation: ani3 2s infinite;
}

.char--boy {
  animation-delay: 0.3s;
}

.char--mom {
  animation-delay: 0.5s;
}

.char--girl {
  animation-delay: 0.7s;
}

@keyframes ani3 {
  10% {
    transform: translateY(-15px);
  }

  40% {
    transform: translateY(0px);
  }
}

.deco-mom-eyes {
  animation: eyeBlink 4s infinite;
}

.deco-girl-eyes {

  animation: eyeBlink 5s infinite;
  animation-delay: 1s
}

@keyframes eyeBlink {
  4% {
    transform: scaleY(0.1)
  }

  6% {
    transform: scaleY(1)
  }

  8% {
    transform: scaleY(0.1)
  }

  10% {
    transform: scaleY(1)
  }

  98% {
    transform: scaleY(1)
  }

  100% {
    transform: scaleY(0.1)
  }
}

@keyframes eyeWink {
  4% {
    transform: translate(0px, 19px) scaleY(0.1)
  }
}