// ----
// 애니메이션
// ----

// 페이드인 아이템 관리
.-fadeIn {
  // opacity: 0;
  // transition: all 0.6s;
  // animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);

  &.-ani-up {
    // transform: translateY(30px);
  }

  &.active {
    // transform: translateY(0px);
    // opacity: 1;
  }
}

// 리서치 섹션
// .section--research {
//   .research__item {
//     //부모세대가 자녀에게~
//     &:first-child {
//       transition-delay: 0.2s;
//     }

//     //밀레니얼 세대가~
//     &:nth-child(2) {
//       transition-delay: 0.45s;
//     }
//   }

//   .info {
//     transition-delay: 0.8s;
//   }

//   @include res--laptop {
//   }
// }

.ani {
  // outline: 3px solid gold;
  // animation-timing-function: ease;
  // animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

// .research__list-number {
//   width: 0%;
//   transition: all 2s;
// }
// .test {
//   width: 100%;
// }

.research__list {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s, transform 0.6s;
  animation-timing-function: ease;

  &:nth-child(2) {
    transition-delay: 0.25s;
  }
  &:nth-child(3) {
    transition-delay: 0.5s;
  }
}

.testtest {
  // outline: 3px solid red;

  .research__list {
    opacity: 1;
    transform: translateX(0px);
  }
}

.ani-research-4 {
  opacity: 0;
  transition-delay: 30s;
  transition: opacity 10s;
  &.show {
    opacity: 1;
  }
}
