// ---
// variables (global)
// ---

// -------
// color
// -------
$c-black: #1A1311;
$c-orange: #F35750;
$c-gray: #656565;

// -------
// * path
// -------
$path-image: "../images/";

// -------
// * font-weight
// -------
$fw-bl: 900;
$fw-b: 700;
$fw-m: 500;
$fw-r: 400;
$fw-t: 300;


// -------
// * layout
// -------
$min-width: 320px;
$max-width: 920px;
$max-width-m: 580px;